.element {
    resize: both;
    overflow: auto;
    background-image: url("../images/marble-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    background-attachment: fixed;
}